<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Today's new Albums and Singles !</span>
    <span class="example-spacer"></span>
      <span class="material-icons large_icon">
        headset
        </span>
  </mat-toolbar-row>
</mat-toolbar>
  <div id="content">
    <div fxLayout="row" fxLayoutAlign="space-around" fxLayoutAlign.gt-xs="end" fxLayoutGap.gt-xs="1em">
      <mat-form-field appearance="fill" class="field" fxFlex="0 2 auto">
        <mat-label>Type</mat-label>
        <mat-select (selectionChange)="onSelectorChange($event)" [value]="'all'">
          <mat-option value="all">All</mat-option>
          <mat-option value=0>Single</mat-option>
          <mat-option value=1>Albums</mat-option>
          <mat-option value=2>Compilation</mat-option>
        </mat-select>
      </mat-form-field> 
        <mat-form-field appearance="fill" class="field" fxFlex="0 2 auto">
          <mat-label>Items loading</mat-label>
          <mat-select (selectionChange)="onPageSizeChange($event)" [value]="pageSize.toString()">
            <mat-option value="5">5</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="50">50</mat-option>
          </mat-select>
      </mat-form-field> 
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutAlign.gt-xs="start" [style.margin]="'auto'" class="cards">
      <div *ngFor="let item of filtered">
        <mat-card class="example-card" fxFlex="1 1 auto">
          <mat-card-header>      
            <mat-card-title>{{ item?.artistNames?.length > 0 ? item.artistNames[0]: '' }}</mat-card-title>
            <mat-card-subtitle>{{ releaseTypeService.getType(item.releaseType) }}</mat-card-subtitle>
          </mat-card-header>
          <a target="_blank" [href]="item.externalUrl"><img mat-card-image [src]="item.image300"></a>
          <mat-card-content>
            <h2>{{ item.name }}</h2>
            <h4>Total tracks:<span class="total" [matBadge]="item.totalTracks" matBadgeOverlap="false"></span></h4>
          </mat-card-content>
          <mat-card-actions> 
            <button mat-raised-button color="primary" mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>  
      </div>
      <div class="button">
        <mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
        <button mat-raised-button color="primary" [disabled]="isLoading" (click)="LoadMoreAlbums()">Show more...</button>
      </div>
    </div>    
  </div>




