.example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    max-width: 250px;
    padding: 2em;
    margin: 1em;
  }

  .large_icon {
      font-size: xx-large;
  }

  .total {
      padding-left: 1em;
  }

  .selector {
      margin: 1em;
  }

  .cards {
     margin: 2em;
     width: 100%;
     height: calc(100% - 90px);
     overflow-y: auto;
  }

  .button {
      height: 50px;
      width: 100%;
      margin-top: 2em;
      padding-bottom: 1em;
      text-align: center;
  }

  .field {
      min-width: 5em;
  }

  #content {
      height: calc(100% - 56px);
      overflow-y: hidden;
  }

  body, html {
      overflow-y: hidden;
  }